.detail-page

    > .nav > .button

        >.icon
            font-size 24px
            color #888

        >.icon-xuanzhong
            color rgb(0, 159, 147)

    > section
        padding: 20px

        > .content
            font-size 14px
            line-height: 22px

            > textarea
                box-sizing border-box
                width: 100%
                padding 10px
                min-height 200px
                border 1px solid #ddd

            > button
                margin-top: 10px
                font-size 14px
                box-sizing border-box
                padding: 0
                height: 30px
                width: 100%
                color #fff
                background-color: rgb(0, 159, 147)
                border 0

                &:disabled
                    background-color: #ddd


        > footer

            margin-top: 20px
            padding-top: 10px

            color #888
            line-height: 22px

            border-top 1px solid #666

            > h4
                font-size 14px;

            > p
                font-size 12px;
